@{
    ViewData["Title"] = "Home Page";
} 

<div class="cell view" ng-view  ng-class="{next: pages[location] > pages[prevLocation], prev: pages[location] < pages[prevLocation], add: location.indexOf('/add/') > -1}">
  
</div>

@section scripts{ 
<script> 
    vega.controller('overviewCtrl', function ($scope) {


    });
</script>
}