<div>
    <div class="exchange-header header"> 
        <div class="total-balance">
            2 Exchanges <webicon icon="ion:ios-plus-empty" />
            
        </div>
    </div>
    <div class="exchange-body cell">
        
        <div class="list">
           
            <ul class="list exchanges">
                <li>

                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="exchange-name">
                        <span>Binance</span>
                    </span>
                    <span class="exchange-amount positive">
                        holdings<br />+10,200.00 USDT
                    </span>
                </li>
                <li>

                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/kraken-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="exchange-name">
                        <span>Kraken</span>
                    </span>
                    <span class="exchange-amount positive">
                        holdings<br />+10,200.00 USDT
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>