<div>
    <div class="exchange-header header"> 
        <div class="total-balance">
            2 Exchanges  
        </div>
        <div class="list-tabs exchange-list-tabs">
            <div class="tab" ng-click="exchangeFilter = {mine: true}" ng-class="{active: exchangeFilter != null}">Mine</div>
            <div class="tab" ng-click="exchangeFilter = undefined" ng-class="{active: !exchangeFilter}">All</div> 
        </div>
    </div>
    <div class="exchange-search search-box">
        <input type="search" name="name" placeholder="Search" ng-model="filters.exchange" />
    </div>
    <div class="exchange-body cell"> 
        <div class="list"> 
            <ul class="list exchanges">
                <li class="list-item" ng-repeat="exchange in filteredExchanges = (exchanges | filter: exchangeFilter | nameFilter: filters.exchange)" >
                    <span class="transaction-exchange icon {{exchange.name.toLowerCase().replace('-', '').replace(' ', '-').replace('.', '') }}"></span>
                    <span class="exchange-name">{{exchange.name}}</span>
                    <span class="exchange-amount positive">+10,200.00 USDT</span>
                </li>
                <li class="list-item default" ng-show="!filteredExchanges.length">
                   
                    <span class="exchange-name">No Matches</span> 
                </li>
            </ul>
        </div>
    </div>
</div>