
<div>

    <div class="portfolio-header header">



        <div class="total-balance">
            <span class="currency-symbol">$</span>22,490.22
            <div class="total-balance-label totals-label">Balance</div>
           
        </div>
    </div>
    <div class=" cell">
        
        <div class="list">
            <h4>Transactions</h4>
            <ul class="list transactions">
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">21</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+400.00 LEND</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+650.00 APPC</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
            </ul>
        </div>
    </div>
</div>