
<div>
 
    <div class="main-header header">

        <div class="total-balance">
            <span class="currency-symbol">$</span>22,490.22
            <div class="total-balance-label totals-label">Balance</div>
            <div class="sub-display">
                <div class="grid-x">
                    <div class="cell small-4">
                        Best Performer
                        <div class="sub-display-value">
                            APPC
                        </div>
                    </div>
                    <div class="cell small-4">
                        Total Change
                        <div class="sub-display-value">
                            +2.85%
                        </div>
                    </div>
                    <div class="cell small-4">
                        24hr Change
                        <div class="sub-display-value">
                            +17.01%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body cell">
        <div class="main-graph">
            <div class="graph-header">
                <webicon icon="fa:line-chart"></webicon> MOVEMENT
                <span class="chart-live">LIVE <span class="indicator"></span></span>
            </div>
            <img src="/images/chart.png" alt="Alternate Text" />
        </div>
        <div class="list">
            <h4>Transactions</h4>
            <ul class="list transactions">
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">21</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+400.00 LEND</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+650.00 APPC</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
                <li>
                    <span class="transaction-date">
                        <span class="date-month">JAN</span>
                        <span class="date-day">23</span>
                    </span>
                    <span class="transaction-exchange">
                        <img width="16" height="16" src="/images/binance-icon.png" alt="Alternate Text" />
                    </span>
                    <span class="transaction-status">
                        <span>DEPOSIT</span>
                        <span class="transaction-confirmation">CONFIRMED</span>
                    </span>
                    <span class="transaction-amount positive">+10,200.00 USDT</span>
                </li>
            </ul>
        </div>
    </div>
</div>